<main class="flex flex-col w-full">
  <div class="flex flex-col mb-10">
    <div class="mb-16">
      <app-breadcrumb
        [items]="[
          { label: 'Property Management', url: '/main/property-management' },
          { label: 'Edit Property' }
        ]"
      ></app-breadcrumb>
    </div>
    <div *ngIf="property"
      class="flex flex-col gap-12 py-5 px-24 border border-[#EBEBEB] rounded-lg w-full bg-background mb-8"
    >
      <h3 *ngIf="isLoading">Loading...</h3>
      <form nz-form [formGroup]="editForm" (ngSubmit)="submit()">
        <div class="flex flex-row justify-between items-center py-5">
          @if(!editingName) {
            <h2 class="!text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0 !pb-0 basis-2/3">
              {{ property.name }}
            </h2>
            <app-icon class="!text-primary !text-sm cursor-pointer" name="edit" (click)="setEditingField('name', true)"></app-icon>
          } @else {
            <div class="basis-2/3">
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" [nzNoColon]="true">
                <span class="text-xs text-gray-500">Property Name</span>
              </nz-form-label>
              <nz-form-control nzErrorTip="Please enter property name">
                <input
                  nz-input
                  formControlName="name"
                  placeholder="Enter Property Name"
                  id="name"
                />
              </nz-form-control>
            </div>
            <button
              class="bg-transparent !text-primary !text-sm font-semibold cursor-pointer disabled:!text-gray-200 disabled:cursor-not-allowed"
              (click)="setEditingField('name', false)"
              [disabled]="isLoading"
            >Done</button>
          }
        </div>

        <div class="flex items-center gap-6 py-5">
          <div class="grid grid-cols-3 items-center gap-6">
            @for(img of property.property_images; track img.id) {
              <div class="relative">
                <img
                  src="{{img.image_url}}"
                  alt="property image"
                  class="w-full h-full rounded-lg object-cover hover:scale-105 transition-transform duration-200 hover:brightness-50"
                />
                <app-icon
                  class="!text-white !text-sm absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 cursor-pointer hover:scale-150 hover:!text-red-500"
                  name="trash"
                  (click)="removeImage(img.id)"
                  [class.disabled]="isLoading"
                ></app-icon>
              </div>
            }

            <div class="relative flex items-center justify-center cursor-pointer border-2 border-dashed border-gray-300 w-full aspect-square rounded-lg hover:bg-gray-100 !p-12">
              <input
                type="file"
                id="fileInput"
                (change)="onImageSelected($event)"
                class="absolute inset-0 w-full h-full opacity-0 cursor-pointer disabled:cursor-not-allowed"
                [disabled]="isLoading"
              />
              <label for="fileInput" class="block px-4 py-2 bg-primary text-white rounded cursor-pointer" *ngIf="!isLoading">
                Upload Image
              </label>
              <label class="block px-4 py-2 bg-primary text-white rounded cursor-not-allowed" *ngIf="isLoading">
                Loading...
              </label>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-5 w-full">
          <div class="flex flex-col justify-center gap-y-8 w-full">
            <div class="w-full">
              <p class="!text-[#7A7A7A] !text-sm !font-semibold">Property Category</p>
              <div class="flex flex-row justify-between items-center">
                @if(!editingCategory) {
                  <h2 class="!text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0 !pb-0 basis-2/3">
                    {{ property.property_type.name }} Property
                  </h2>
                  <app-icon class="!text-primary !text-sm cursor-pointer" name="edit" (click)="setEditingField('property_type', true)"></app-icon>
                } @else {
                  <div class="basis-2/3">
                    <nz-form-control nzErrorTip="Please select property category">
                      <nz-select
                        id="property_type"
                        formControlName="property_type"
                        nzAllowClear
                        nzPlaceHolder="Select a category for this property"
                        class="basis-2/3"
                      >
                        @for(category of propertyTypeOptions; track category.value) {
                          <nz-option [nzValue]="category.value" [nzLabel]="category.name"></nz-option>
                        }
                      </nz-select>
                    </nz-form-control>
                  </div>
                  <button
                    class="bg-transparent !text-primary !text-sm font-semibold cursor-pointer disabled:!text-gray-200 disabled:cursor-not-allowed"
                    (click)="setEditingField('property_type', false)"
                    [disabled]="isLoading"
                  >Done</button>
                }
              </div>
            </div>
            <div class="">
              <p class="!text-[#7A7A7A] !text-sm !font-semibold">Property Location</p>
              <div class="flex flex-row justify-between items-center">
                @if(!editingLocation) {
                  <h2 class="!text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0 !pb-0 basis-2/3">
                    {{ property.location }}
                  </h2>
                  <app-icon class="!text-primary !text-sm cursor-pointer" name="edit" (click)="setEditingField('location', true)"></app-icon>
                } @else {
                  <div class="basis-2/3">
                    <nz-form-control nzErrorTip="Please enter property location">
                      <input
                        nz-input
                        formControlName="location"
                        placeholder="Enter Property location"
                        id="location"
                      />
                    </nz-form-control>
                  </div>
                  <button
                    class="bg-transparent !text-primary !text-sm font-semibold cursor-pointer disabled:!text-gray-200 disabled:cursor-not-allowed"
                    (click)="setEditingField('location', false)"
                    [disabled]="isLoading"
                  >Done</button>
                }
              </div>
            </div>
            <div class="">
              <p class="!text-[#7A7A7A] !text-sm !font-semibold">Property Address</p>
              <div class="flex flex-row justify-between items-center">
                @if(!editingAddress) {
                  <h2 class="!text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0 !pb-0 basis-2/3">
                    {{ property.address }}
                  </h2>
                  <app-icon class="!text-primary !text-sm cursor-pointer" name="edit" (click)="setEditingField('address', true)"></app-icon>
                } @else {
                  <div class="basis-2/3">
                    <nz-form-control nzErrorTip="Please enter property address">
                      <input
                        nz-input
                        formControlName="address"
                        placeholder="Enter Property address"
                        id="address"
                      />
                    </nz-form-control>
                  </div>
                  <button
                    class="bg-transparent !text-primary !text-sm font-semibold cursor-pointer disabled:!text-gray-200 disabled:cursor-not-allowed"
                    (click)="setEditingField('address', false)"
                    [disabled]="isLoading"
                  >Done</button>
                }
              </div>
            </div>
            <div>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description" [nzNoColon]="true" class="!text-gray-400 !text-sm !mb-2">
                Property Description
              </nz-form-label>
              <nz-form-control nzErrorTip="Please enter property description">
                <div class="flex justify-between w-full gap-4">
                  @if(!editingDescription) {
                    <p class="!text-[#4F4F4F] text-normal font-medium !mb-0 !pb-0">
                      {{ property.description }}
                    </p>
                    <app-icon class="!text-primary !text-sm cursor-pointer" name="edit" (click)="setEditingField('description', true)"></app-icon>
                  } @else {
                    <textarea
                      nz-input
                      formControlName="description"
                      placeholder="Enter Property Description"
                      id="description"
                      class="basis-2/3 h-24 resize-none"
                    ></textarea>
                    <button
                      class="bg-transparent !text-primary !text-sm font-semibold cursor-pointer disabled:!text-gray-200 disabled:cursor-not-allowed"
                      (click)="setEditingField('description', false)"
                      [disabled]="isLoading"
                    >Done</button>
                  }
                </div>
              </nz-form-control>
            </div>
          </div>
        </div>
      </form>
      <form nz-form [formGroup]="formAmenities" (ngSubmit)="submitFormAmenities()">
        <div class="w-full">
          <p class="!text-[#7A7A7A] !text-sm !font-semibold">Amenities</p>
          <div class="flex flex-row justify-between items-center">
            @if(!editingAmenities) {
              <div class="flex gap-4 basis-4/5 flex-wrap">
                @for(am of property.property_features; track am.feature_id) {
                  <div class="flex bg-tertiary items-center gap-2 bg-gray-100 p-2 rounded">
                    <app-icon class="!text-primary text-[10px]" name="power"></app-icon>
                    <h2 class="!text-[#4F4F4F] text-normal font-medium text-[16px] !mb-0">
                      {{ am.feature.name }}
                    </h2>
                  </div>
                }
              </div>
              <app-icon
                class="!text-primary !text-sm cursor-pointer"
                name="edit"
                (click)="setEditingField('property_features', true)"
              ></app-icon>
            } @else {
              <div class="basis-4/5">
                <nz-form-control nzErrorTip="Please select at least one feature">
                  <nz-select
                    id="property_features"
                    formControlName="features"
                    nzAllowClear
                    nzPlaceHolder="Select features for this property"
                    class="basis-4/5"
                    nzMode="multiple"
                  >
                    @for(feature of adminFeatures; track feature.id) {
                      <nz-option [nzValue]="feature.id" [nzLabel]="feature.name">
                        <ng-template #nzOptionCustomContent>
                          <div class="flex items-center gap-2">
                            <nz-icon [nzType]="feature.icon" />
                            {{ feature.name }}
                          </div>
                        </ng-template>
                      </nz-option>
                    }
                  </nz-select>
                </nz-form-control>
              </div>
              <button
                class="bg-transparent !text-primary !text-sm font-semibold cursor-pointer disabled:!text-gray-200 disabled:cursor-not-allowed"
                (click)="setEditingField('property_features', false)"
                [disabled]="isLoading"
              >Done</button>
            }
          </div>
        </div>
      </form>

      <form nz-form [formGroup]="unitTypeForm" class="w-full">
        <div class="flex flex-col gap-6">
          <div class="flex justify-between items-center">
            <h3 class="text-gray-400 text-base font-medium">Units</h3>
            <div class="flex gap-4">
              <button
                type="button"
                class="!text-primary hover:text-red-800 text-sm font-medium cursor-pointer disabled:!text-gray-200 disabled:cursor-not-allowed"
                (click)="addUnitType()"
                [disabled]="isLoading"
              >
                + Add Unit
              </button>
              
            </div>
          </div>
          <div *ngIf="unitTypesOptions.length; else noUnitTypes" formArrayName="unit_types" class="flex flex-col gap-6 bg-gray-100 p-6 rounded-lg border border-gray-200">
            <div *ngFor="let unitType of unitTypes.controls; let i = index; trackBy: trackByUnitType" [formGroupName]="i">
              <div class="flex flex-col gap-2 mb-2">
                <label [for]="'unit_type_id_' + i" class="text-gray-500 text-xs font-medium">
                  Unit Type
                  <span nz-tooltip nzTooltipTitle="Required field" class="text-red-500">*</span>
                </label>
                <nz-form-control nzErrorTip="Please select a unit type">
                  <nz-select
                    [id]="'unit_type_id_' + i"
                    formControlName="unit_type_id"
                    nzPlaceHolder="Select a unit type for this property"
                    class="w-full"
                    [nzSize]="'large'"
                    [nzDisabled]="unitType.get('isSaved')?.value"
                  >
                    @for (type of unitTypesOptions; track type.id) {
                      <nz-option [nzValue]="type.id" [nzLabel]="type.name"></nz-option>
                    }
                  </nz-select>
                </nz-form-control>
              </div>
              <div class="flex flex-col gap-2 my-12 mb-2">
                <label [for]="'price_' + i" class="text-gray-500 text-xs font-medium">
                  Amount
                  <span nz-tooltip nzTooltipTitle="Required field" class="text-red-500">*</span>
                </label>
                <nz-form-control nzErrorTip="Please enter a valid price">
                  <input
                    nz-input
                    [id]="'price_' + i"
                    formControlName="price"
                    placeholder="Enter property price"
                    class="w-full"
                    [nzSize]="'large'"
                    [readonly]="unitType.get('isSaved')?.value"
                  />
                </nz-form-control>
              </div>
              <div class="flex flex-col gap-2 mt-12">
                <label [for]="'total_units_' + i" class="text-gray-500 text-xs font-medium">
                  Total Units
                  <span nz-tooltip nzTooltipTitle="Required field" class="text-red-500">*</span>
                </label>
                <nz-form-control nzErrorTip="Please enter a valid total units">
                  <input
                    nz-input
                    [id]="'total_units_' + i"
                    formControlName="total_units"
                    placeholder="Enter total units"
                    class="w-full"
                    [nzSize]="'large'"
                    [readonly]="unitType.get('isSaved')?.value"
                  />
                </nz-form-control>
              </div>
              <div class="flex justify-between items-center mt-12">
                <div></div>
                <button
                  type="button"
                  class="!text-primary hover:text-red-800 text-sm font-medium cursor-pointer disabled:!text-gray-200 disabled:cursor-not-allowed"
                  (click)="addInstallmentPlan(i)"
                  [disabled]="isLoading || !unitType.get('isSaved')?.value"
                >
                  + Add Installment Plan
                </button>
              </div>
              <div formArrayName="installment_plans" class="flex flex-col gap-4 mt-6 pl-8 border-l-2 border-dashed border-gray-200">
                <div *ngFor="let plan of getInstallmentPlans(i).controls; let j = index; trackBy: trackByPlan" [formGroupName]="j">
                  <div class="flex w-full justify-between items-center border-b border-gray-300 pb-2 mb-4">
                    <p class="text-gray-500 text-lg font-medium">Installment Details</p>
                    <button
                      type="button"
                      class="!text-gray-500 !text-sm cursor-pointer disabled:!text-gray-200 disabled:cursor-not-allowed"
                      nz-popconfirm
                      nzPopconfirmTitle="Are you sure you want to delete this plan?"
                      (nzOnConfirm)="removeInstallmentPlan(i, j)"
                      [nzPopconfirmPlacement]="'top'"
                      [disabled]="isLoading"
                    >
                      <app-icon class="!text-gray-500 !text-sm" name="trash"></app-icon>
                    </button>
                  </div>
                  <div class="flex flex-col gap-2 mb-2">
                    <label [for]="'plan_id_' + i + '_' + j" class="text-gray-500 text-xs font-medium">
                      Installment Type
                      <span nz-tooltip nzTooltipTitle="Required field" class="text-red-500">*</span>
                    </label>
                    <nz-form-control>
                      <nz-select
                        [id]="'plan_id_' + i + '_' + j"
                        formControlName="plan_id"
                        nzPlaceHolder="Select an installment type"
                        class="w-full"
                        [nzSize]="'large'"
                        [nzDisabled]="plan.get('isSaved')?.value"
                      >
                        @for (option of installmentPlans; track option.id) {
                          <nz-option [nzValue]="option.id" [nzLabel]="option.title"></nz-option>
                        }
                      </nz-select>
                    </nz-form-control>
                  </div>
                  <div class="flex flex-col gap-2 mb-2 mt-12">
                    <label [for]="'initial_amount_' + i + '_' + j" class="text-gray-500 text-xs font-medium">
                      Initial Deposit
                      <span nz-tooltip nzTooltipTitle="Required field" class="text-red-500">*</span>
                    </label>
                    <nz-form-control nzErrorTip="Please enter a valid initial amount">
                      <input
                        nz-input
                        [id]="'initial_amount_' + i + '_' + j"
                        formControlName="initial_amount"
                        placeholder="Enter initial amount"
                        type="number"
                        class="w-full"
                        [nzSize]="'large'"
                        [readonly]="plan.get('isSaved')?.value"
                      />
                    </nz-form-control>
                  </div>
                  <div class="flex flex-col gap-2 mb-2 mt-12">
                    <label [for]="'total_price_' + i + '_' + j" class="text-gray-500 text-xs font-medium">
                      Total Amount
                      <span nz-tooltip nzTooltipTitle="Required field" class="text-red-500">*</span>
                    </label>
                    <nz-form-control nzErrorTip="Please enter a valid total price">
                      <input
                        nz-input
                        [id]="'total_price_' + i + '_' + j"
                        formControlName="total_price"
                        placeholder="Enter total amount"
                        type="number"
                        class="w-full"
                        [nzSize]="'large'"
                        [readonly]="plan.get('isSaved')?.value"
                      />
                    </nz-form-control>
                  </div>
                  <div class="flex flex-col gap-2 mb-2 mt-12">
                    <label [for]="'start_date_' + i + '_' + j" class="text-gray-500 text-xs font-medium">
                      Start Date
                      <span nz-tooltip nzTooltipTitle="Required field" class="text-red-500">*</span>
                    </label>
                    <nz-form-control nzErrorTip="Please select a start date">
                      <nz-date-picker
                        [id]="'start_date_' + i + '_' + j"
                        formControlName="start_date"
                        nzPlaceHolder="Select start date"
                        class="w-full"
                        [nzSize]="'large'"
                        [nzDisabled]="plan.get('isSaved')?.value"
                      ></nz-date-picker>
                    </nz-form-control>
                  </div>
                  <div class="flex justify-end mt-4">
                    <button
                      type="button"
                      class="!text-red-500 hover:!text-red-800 text-sm font-medium cursor-pointer disabled:!text-gray-200 disabled:cursor-not-allowed"
                      nz-popconfirm
                      nzPopconfirmTitle="Are you sure you want to delete this plan?"
                      (nzOnConfirm)="removeInstallmentPlan(i, j)"
                      [nzPopconfirmPlacement]="'top'"
                      [disabled]="isLoading"
                    >
                      Remove Plan
                    </button>
                  </div>
                </div>
              </div>
              <div *ngIf="getInstallmentPlans(i).controls.length" class="flex justify-end mt-4">
                <button
                  type="button"
                  class="rounded-lg bg-primary py-2 px-6 text-sm !text-white font-medium cursor-pointer disabled:!bg-gray-100 disabled:!text-gray-200 disabled:cursor-not-allowed"
                  (click)="submitInstallmentPlans(i)"
                  [disabled]="isLoading || !getInstallmentPlans(i).controls.length || !unitType.valid"
                >
                  Save Plans
                </button>
              </div>
              <div class="flex justify-end mt-6 border-t border-gray-200 pt-6">
                <button
                  type="button"
                  class="flex items-center bg-transparent border-none p-0 cursor-pointer disabled:!text-gray-200 disabled:cursor-not-allowed"
                  nz-popconfirm
                  nzPopconfirmTitle="Are you sure you want to delete this unit?"
                  (nzOnConfirm)="removeUnitType(i)"
                  [nzPopconfirmPlacement]="'top'"
                  [disabled]="isLoading || unitTypes.length <= 1"
                >
                  <app-icon class="!text-gray-500 !text-sm" name="trash"></app-icon>
                  <span class="!text-gray-500 !text-sm ml-2">Delete Unit</span>
                </button>
              </div>
            </div>
              <!-- <div class="flex justify-center">
                <button
                  type="button"
                  class="rounded-lg bg-primary py-2 px-6 text-sm !text-white font-medium cursor-pointer disabled:!bg-gray-100 disabled:cursor-not-allowed disabled:!text-gray-300"
                  (click)="submitUnits()"
                  [disabled]="isLoading || !unitTypeForm.valid "
                >
                  Save Units
                </button>
              </div> -->
          </div>
          <ng-template #noUnitTypes>
            <div *ngIf="!isLoading" class="text-gray-500">
              No unit types available. Please try again later.
            </div>
          </ng-template>
        </div>
      </form>

      <div class="flex items-center justify-end gap-6">
        <button
          type="submit"
          class="rounded-lg bg-primary py-3 px-16 text-[20px] !text-white font-medium cursor-pointer disabled:!bg-gray-100 disabled:!text-gray-300 disabled:cursor-not-allowed"
          [disabled]="isLoading || !unitTypeForm.valid"
          (click)="submitUnits()"
        >
          Save Units
        </button>
      </div>
    </div>
  </div>
</main>