<main class="flex flex-col w-full">
  <div class="flex flex-col mb-10">
    <app-breadcrumb
      [items]="[
        { label: 'Realtor Management', url: '/main/realtor-management' },
        { label: 'Add New Realtor' }
      ]"
    ></app-breadcrumb>
    <p class="!text-medium font-medium !text-[#7A7A7A]">
      Fill details below to create a new realtor profile
    </p>
  </div>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <div class="mb-4">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="avatar">
          <span>Avatar</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <div
            class="w-32 h-32 rounded-full border border-dashed border-gray-400 flex items-center justify-center cursor-pointer overflow-hidden"
            (click)="avatarInput.click()"
          >
            <img
              *ngIf="avatarUrl"
              [src]="avatarUrl"
              class="w-full h-full object-cover"
              alt="Avatar"
            />
            <span *ngIf="!avatarUrl" class="text-gray-400"
              >Click to upload</span
            >
            <input
              #avatarInput
              type="file"
              accept="image/*"
              style="display: none"
              (change)="onAvatarChange($event)"
            />
          </div>
        </nz-form-control>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-y-8">
      <div>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="full_name">
          <span>Full Name</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input full name!"
        >
          <input
            nz-input
            id="full_name"
            placeholder="Enter full name"
            formControlName="full_name"
          />
        </nz-form-control>
      </div>
      <div>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email">
          <span>Email Address</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Invalid email!">
          <input
            nz-input
            id="email"
            placeholder="Enter email"
            formControlName="email"
          />
        </nz-form-control>
      </div>
      <div>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone_number">
          <span>Phone Number</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input phone number!"
        >
          <input
            nz-input
            id="phone_number"
            placeholder="Enter phone number"
            formControlName="phone_number"
          />
        </nz-form-control>
      </div>
      <div>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password">
          <span>Password</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input password!"
        >
          <input
            nz-input
            type="password"
            id="password"
            placeholder="Enter password"
            formControlName="password"
          />
        </nz-form-control>
      </div>
      <div>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword"
          >Confirm Password</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
          <input
            nz-input
            type="password"
            formControlName="checkPassword"
            placeholder="Confirm Admin Password"
            id="checkPassword"
          />
          <ng-template #errorTpl let-control>
            @if (control.errors?.['required']) { Please confirm your password! }
            @if (control.errors?.['confirm']) { Two passwords that you enter is
            inconsistent! }
          </ng-template>
        </nz-form-control>
      </div>
      <div>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="gender">
          <span>Gender</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please select gender!"
        >
          <nz-select
            id="gender"
            formControlName="gender"
            nzPlaceHolder="Select gender"
          >
            <nz-option nzValue="male" nzLabel="Male"></nz-option>
            <nz-option nzValue="female" nzLabel="Female"></nz-option>
            <nz-option nzValue="other" nzLabel="Other"></nz-option>
          </nz-select>
        </nz-form-control>
      </div>
      <div>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="date_of_birth">
          <span>Date of Birth</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please select date of birth!"
        >
          <input
            nz-input
            type="date"
            id="date_of_birth"
            formControlName="date_of_birth"
          />
        </nz-form-control>
      </div>
      <div>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nationality_id">
          <span>Nationality</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please select nationality!"
        >
          <nz-select
            id="nationality_id"
            formControlName="nationality_id"
            nzAllowClear
            nzPlaceHolder="Select Nationality"
          >
            <nz-option
              *ngFor="let nation of nationalities"
              [nzValue]="nation.id"
              [nzLabel]="nation.name"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </div>
      <div>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="states_id">
          <span>State</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please select state!"
        >
          <nz-select
            id="states_id"
            formControlName="states_id"
            nzAllowClear
            nzPlaceHolder="Select State"
          >
            <nz-option
              *ngFor="let state of states"
              [nzValue]="state.id"
              [nzLabel]="state.name"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </div>
      <div>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="address">
          <span>Residential Address</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Address is required!"
        >
          <input
            nz-input
            id="address"
            placeholder="Enter address"
            formControlName="address"
          />
        </nz-form-control>
      </div>
      <div>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="bank_verification_number">
          <span>Bank Verification Number (BVN)</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input BVN!">
          <input
            nz-input
            id="bank_verification_number"
            placeholder="Enter BVN"
            minlength="11"
            maxlength="11"
            formControlName="bank_verification_number"
          />
        </nz-form-control>
      </div>
      <div>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="national_identity_number">
          <span>National Identity Number (NIN)</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input NIN!">
          <input
            nz-input
            id="national_identity_number"
            placeholder="Enter NIN"
            minlength="11"
            maxlength="11"
            formControlName="national_identity_number"
          />
        </nz-form-control>
      </div>
    </div>
    <div class="flex items-center justify-end gap-6 my-12">
      <button
        type="submit"
        class="place-self-end rounded-lg bg-primary py-3 px-10 text-[20px] !text-white font-medium cursor-pointer"
      >
        Create Realtor
      </button>
    </div>
  </form>
</main>
<!-- <app-alert-modal
  [type]="'success'"
  [title]="'Form Submitted'"
  [message]="'The realtor user has been created successfully.'"
></app-alert-modal> -->