<main class="property-main-wrapper flex flex-col w-full min-h-screen bg-[#F5F5F5] dark:bg-[#18181b] p-6">
    <app-breadcrumb
        [items]="[{ label: 'Property Management', url: '/main/property-management' }]"
    ></app-breadcrumb>
    <div class="flex justify-end mb-6">
        <button type="submit" class="flex gap-2 bg-primary !text-white rounded-lg px-5 py-3 cursor-pointer"
            (click)="addNewProperty()">
            <app-icon name="plus"></app-icon>
            Add New Property
        </button>
    </div>
    <div class="flex flex-col gap-12">
        <nz-card class="rounded-lg border-2 border-[#EEF2F6] dark:border-gray-600 w-full" [nzBodyStyle]="{ padding: '0' }">
        <nz-tabset class="w-full">
            <nz-tab nzTitle="All Properties">
                <div class="flex items-center justify-between mb-10 px-4 pt-4">
                    <p class="text-[#4F4F4F] dark:text-gray-400 text-normal text-2xl">All Properties</p>
                    <button class="flex items-center gap-3 rounded-lg bg-primary py-2 px-4 text-[16px] font-medium cursor-pointer" [ngStyle]="{ color: '#FFF' }">
                      <app-icon name="arrow-up"></app-icon>
                      Export
                    </button>
                </div>
                <div class="property-container rounded-lg border-2 border-[#EEF2F6] dark:border-gray-600 px-4 py-6">
                    <app-table
                        [data]="properties"
                        [columns]="columns"
                        [showSelection]="true"
                        [showPagination]="true"
                        [showSearch]="true"
                        [showFilters]="true"
                        [loading]="loading"
                        [enableRowClick]="true"
                        [pageSize]="pageSize"
                        (selectionChange)="onSelectionChange($event)"
                        (rowClick)="onRowClick($event)"
                        (pageChange)="onPageChange($event.page, $event.size)"
                        class="w-full"
                    />

                </div>
            </nz-tab>
            <nz-tab nzTitle="Sold Properties">
                <div class="flex items-center justify-between mb-10 px-4 pt-4">
                    <p class="text-[#4F4F4F] dark:text-gray-400 text-normal text-2xl">Sold Properties</p>
                    <button class="flex items-center gap-3 rounded-lg bg-primary py-2 px-4 text-[16px] font-medium cursor-pointer" [ngStyle]="{ color: '#FFF' }">
                      <app-icon name="arrow-up"></app-icon>
                      Export
                    </button>
                </div>
                <div class="property-container rounded-lg border-2 border-[#EEF2F6] dark:border-gray-600 px-4 py-6">
                    <app-table
                        [data]="soldProperties"
                        [columns]="columns"
                        [showSelection]="true"
                        [showPagination]="true"
                        [showSearch]="true"
                        [showFilters]="true"
                        [loading]="loading"
                        [enableRowClick]="true"
                        [pageSize]="pageSize"
                        (selectionChange)="onSelectionChange($event)"
                        (rowClick)="onRowClick($event)"
                        (pageChange)="onPageChange($event.page, $event.size)"
                        class="w-full"
                    />
                </div>
            </nz-tab>
            <nz-tab nzTitle="Available Properties">
                <div class="flex items-center justify-between mb-10 px-4 pt-4">
                    <p class="text-[#4F4F4F] dark:text-gray-400 text-normal text-2xl">Available Properties</p>
                    <button class="flex items-center gap-3 rounded-lg bg-primary py-2 px-4 text-[16px] font-medium cursor-pointer" [ngStyle]="{ color: '#FFF' }">
                      <app-icon name="arrow-up"></app-icon>
                      Export
                    </button>
                </div>
                <div class="property-container rounded-lg border-2 border-[#EEF2F6] dark:border-gray-600 px-4 py-6">
                    <app-table
                        [data]="availableProperties"
                        [columns]="columns"
                        [showSelection]="true"
                        [showPagination]="true"
                        [showSearch]="true"
                        [showFilters]="true"
                        [loading]="loading"
                        [enableRowClick]="true"
                        [pageSize]="pageSize"
                        (selectionChange)="onSelectionChange($event)"
                        (rowClick)="onRowClick($event)"
                        (pageChange)="onPageChange($event.page, $event.size)"
                        class="w-full"
                    />
                </div>
            </nz-tab>
        </nz-tabset>
        </nz-card>
    </div>
</main>
