@if(!loading){
<main class="flex flex-col w-full">
  <div class="flex flex-col mb-10">
    <app-breadcrumb
      [items]="[
        { label: 'Admin Management', url: '/main/admin-management' },
        { label: user.full_name }
      ]"
    ></app-breadcrumb>
    <div class="flex items-center justify-end gap-6 my-12">
      <button
        (click)="suspendAdmin()"
        type="button"
        class="place-self-end rounded-lg bg-primary py-3 px-10 text-[20px] !text-white font-medium cursor-pointer"
      >
        Suspend Admin
      </button>
    </div>
    <div
      class="flex gap-6 py-5 px-7 border border-[#EBEBEB] rounded-lg w-11/12 bg-background"
    >
    <div class="flex flex-col gap-4  max-h-[250px]">
      <img
        [src]="user.avatar || 'images/user.png'"
        [alt]="user.full_name"
        class="w-full max-w-[230px] h-full rounded-lg object-center"
      />
      </div>

      <div class="grid grid-cols-2 items-center justify-between w-11/12 max-h-[200px]">
        <div class="flex flex-col gap-4">
          <p class="text-[#7A7A7A] !text-medium">Full Name</p>
          <h2 class="text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0">
            {{ user.full_name }}
          </h2>
        </div>
        <div class="flex flex-col gap-4">
          <p class="text-[#7A7A7A] !text-medium">Email Address</p>
          <h2 class="text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0">
            {{ user.email }}
          </h2>
        </div>
        <div class="flex flex-col gap-4">
          <p class="text-[#7A7A7A] !text-medium">Unique ID</p>
          <h2 class="text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0">
            {{ user.id }}
          </h2>
        </div>
        <div class="flex flex-col gap-4">
          <p class="text-[#7A7A7A] !text-medium">Role(s)</p>
          <span class="flex gap-2 items-center">
           
            <p
              class="font-medium text-center text-medium"
            >
              {{ user.role.label }}
            </p>
            
          </span>
        </div>
      </div>
    </div>
  </div>
  <app-table
    [data]="activities"
    [columns]="columns"
    [showSelection]="true"
    [showPagination]="true"
    [showSearch]="true"
    [showFilters]="true"
    (selectionChange)="onSelectionChange($event)"
    class="w-full"
  />
</main>
}
