@if(!loading){
<main class="flex flex-col w-full">
  <div class="flex flex-col mb-10">
    <app-breadcrumb
      [items]="[
        { label: 'Admin Management', url: '/main/admin-management' },
        { label: user.full_name }
      ]"
    ></app-breadcrumb>
    <div class="flex items-center justify-end gap-6 my-12">
      <button
        class="place-self-end rounded-lg bg-primary py-3 px-10 text-[20px] !text-white font-medium cursor-pointer"
      >
        Suspend Admin
      </button>
    </div>
    <div
      class="flex gap-6 py-5 px-7 border border-[#EBEBEB] rounded-lg w-11/12 bg-background"
    >
      <img
        [src]="user.avatar || 'images/user.png'"
        [alt]="user.full_name"
        class="w-full max-w-[230px] h-full rounded-lg object-cover"
      />

      <div class="flex flex-wrap items-center justify-between w-11/12 max-h-[200px]">
        <div class="flex flex-col gap-4">
          <p class="!text-[#7A7A7A] !text-medium">Full Name</p>
          <h2 class="!text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0">
            {{ user.full_name }}
          </h2>
        </div>
        <div class="flex flex-col gap-4">
          <p class="!text-[#7A7A7A] !text-medium">Email Address</p>
          <h2 class="!text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0">
            {{ user.email }}
          </h2>
        </div>
        <div class="flex flex-col gap-4">
          <p class="!text-[#7A7A7A] !text-medium">Unique ID</p>
          <h2 class="!text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0">
            {{ user.id }}
          </h2>
        </div>
        <div class="flex flex-col gap-4">
          <p class="!text-[#7A7A7A] !text-medium">Role(s)</p>
          <span class="flex gap-2 items-center">
            @if (user && user.role_id ===1) {

            <p
              class="!px-2 !py-[2px] rounded-full bg-[#34A8531F] !text-[#1FAF38] border border-[#34A85333] font-medium text-center text-medium"
            >
              General Admin
            </p>
            } @else {
            <p
              class="!px-2 !py-[2px] bg-[#E41C241F] !text-[#E41C24] border border-[#E41C2433] rounded-full font-medium text-center text-medium"
            >
              Finance Admin
            </p>
            }
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-10">
    <p class="text-[#4F4F4F] text-normal text-2xl !mb-2">Edit Role</p>
    <nz-select
      ngModel="role"
      nzAllowClear
      nzMode="multiple"
      [nzMaxTagCount]="3"
      nzPlaceHolder="Edit Role"
      class="!w-[515px]"
    >
      @for (role of roles; track role) {
      <nz-option [nzValue]="role.value" nzLabel="{{ role.label }}"></nz-option>
      }
    </nz-select>
  </div>
  <div class="flex items-center justify-between mb-10">
    <p class="text-[#4F4F4F] text-normal text-2xl">Activity Log</p>
    <nz-select
      ngModel="All Properties"
      nzAllowClear
      nzPlaceHolder="All Properties"
      class="!w-[200px]"
    >
      <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
      <nz-option nzValue="lucy1" nzLabel="Lucy1"></nz-option>
      <nz-option nzValue="luc2y" nzLabel="Lucy2"></nz-option>
      <nz-option nzValue="lu3cy" nzLabel="Lucy3"></nz-option>
      <nz-option nzValue="l4ucy" nzLabel="Lucy4"></nz-option>
    </nz-select>
  </div>
  <app-table
    [data]="activities"
    [columns]="columns"
    [showSelection]="true"
    [showPagination]="true"
    [showSearch]="true"
    [showFilters]="true"
    (selectionChange)="onSelectionChange($event)"
    class="w-full"
  />
</main>
}
