<main class="flex flex-col w-full">
  <div class="flex flex-col gap-12">
    <app-breadcrumb
      [items]="[{ label: 'User Management', url: '/user-management' }]"
    ></app-breadcrumb>
    <div class="flex items-center gap-9 mb-12">
      @for(metric of userMetrics; track metric.id){
      <div
        class="flex flex-col gap-6 p-6 border border-[#EEF2F6] rounded-lg w-full bg-background"
      >
        <p class="text-[#7A7A7A] text-normal text-[20px]">{{ metric.title }}</p>
        <div class="flex items-center justify-between">
          <p class="text-[#4F4F4F] text-[32px] text-normal">
            {{ metric.amount }}
          </p>
          <span
            class="flex items-center gap-1"
            [ngStyle]="{ color: metric.color }"
          >
            <app-icon name="arrow-up"></app-icon>
            <p class="font-medium text-normal">
              <svg
                width="11"
                height="10"
                viewBox="0 0 11 10"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5.48712 10H3.19379C0.350743 10 -0.817395 8.04044 0.608421 5.64728L1.75938 3.72108L2.91034 1.79487C4.33616 -0.598291 6.66384 -0.598291 8.08966 1.79487L9.24062 3.72108L10.3916 5.64728C11.8174 8.04044 10.6493 10 7.80621 10H5.48712Z"
                  fill=""
                />
              </svg>

              +{{ metric.percentage }}%
            </p>
          </span>
        </div>
      </div>
      }
    </div>
  </div>
  <div class="flex items-center justify-between mb-10">
    <p class="text-[#4F4F4F] text-normal text-2xl">User List</p>
    <button
      class="flex items-center gap-3 rounded-lg bg-primary py-4 px-10 text-[20px] font-medium cursor-pointer"
      [ngStyle]="{ color: '#FFF' }"
    >
      Export
    </button>
  </div>

  <app-table
    [data]="users"
    [columns]="columns"
    [actions]="actions"
    [showSelection]="true"
    [showPagination]="true"
    [showSearch]="true"
    [showFilters]="true"
    (selectionChange)="onSelectionChange($event)"
    (actionClick)="onTableAction($event)"
    (rowClick)="onRowClick($event)"
    class="w-full"
  />
</main>
