<main class="flex flex-col w-full">
  <div class="flex flex-col mb-10">
    <app-breadcrumb
      [items]="[
        { label: 'Admin Management', url: '/main/admin-management' },
        { label: isEditMode ? 'Edit Admin' : 'Add New Admin' }
      ]"
    ></app-breadcrumb>
    <p class="!text-medium font-medium text-[#7A7A7A]">
      {{ isEditMode ? 'Update admin details below' : 'Fill details below to create a new admin profile' }}
    </p>
  </div>
  @if (error) {
    <nz-alert nzType="error" [nzMessage]="error" nzShowIcon class="mb-4"></nz-alert>
  }
  <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="firstName">
          <span>First Name</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input your first name!"
          class="!min-w-full"
        >
          <input
            nz-input
            id="firstName"
            placeholder="Enter first name"
            formControlName="firstName"
            autocomplete="given-name"
          />
        </nz-form-control>
      </div>
      <div>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lastName">
          <span>Last Name</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          class="!min-w-full"
          [nzXs]="24"
          nzErrorTip="Please input your last name!"
        >
          <input
            nz-input
            id="lastName"
            placeholder="Enter last name"
            formControlName="lastName"
            autocomplete="family-name"
          />
        </nz-form-control>
      </div>
      <div>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email"
          >Email Address</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          class="!min-w-full"
          nzErrorTip="The input is not valid E-mail!"
        >
          <input
            nz-input
            formControlName="email"
            placeholder="Enter email"
            id="email"
            autocomplete="email"
          />
        </nz-form-control>
      </div>
      <div>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone">
          <span>Phone Number</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          class="!min-w-full"
          nzErrorTip="Please Enter a Phone Number"
        >
          <input
            nz-input
            id="phone"
            placeholder="Enter Phone Number"
            formControlName="phone"
            maxlength="11"
            pattern="[0-9]*"
            type="tel"
            inputmode="numeric"
            oninput="this.value = this.value.replace(/[^0-9]/g, '')"
            minlength="11"
            autocomplete="tel"
          />
        </nz-form-control>
      </div>
      @if (!isEditMode) {
        <div>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password"
            >Create Password</nz-form-label
          >
          <nz-form-control
            [nzSm]="14"
            [nzXs]="24"
            class="!min-w-full"
            nzErrorTip="Please input your password!"
          >
            <nz-input-group [nzSuffix]="passwordToggleTpl">
              <input
                nz-input
                [type]="showPassword ? 'text' : 'password'"
                id="password"
                placeholder="Create Admin Password"
                formControlName="password"
                autocomplete="new-password"
              />
            </nz-input-group>
            <ng-template #passwordToggleTpl>
              <button type="button" nz-button nzSize="small" nzType="link" (click)="showPassword = !showPassword">
                <span nz-icon [nzType]="showPassword ? 'eye-invisible' : 'eye'"></span>
              </button>
            </ng-template>
            <div class="mt-2 flex items-center gap-2 text-xs">
              <div class="h-1 w-16 rounded-full" [ngClass]="{
                'bg-red-500': passwordStrength==='weak',
                'bg-yellow-500': passwordStrength==='medium',
                'bg-green-600': passwordStrength==='strong',
                'bg-gray-300': passwordStrength==='empty'
              }"></div>
              <span class="text-gray-500">Password strength: {{ passwordStrength }}</span>
            </div>
          </nz-form-control>
        </div>
        <div>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword"
            >Confirm Password</nz-form-label
          >
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl"
              class="!min-w-full"
          >
            <nz-input-group [nzSuffix]="confirmToggleTpl">
              <input
                nz-input
                [type]="showConfirmPassword ? 'text' : 'password'"
                formControlName="checkPassword"
                placeholder="Confirm Admin Password"
                id="checkPassword"
                autocomplete="new-password"
              />
            </nz-input-group>
            <ng-template #confirmToggleTpl>
              <button type="button" nz-button nzSize="small" nzType="link" (click)="showConfirmPassword = !showConfirmPassword">
                <span nz-icon [nzType]="showConfirmPassword ? 'eye-invisible' : 'eye'"></span>
              </button>
            </ng-template>
            <ng-template #errorTpl let-control>
              @if (control.errors?.['required']) { Please confirm your password! }
              @if (control.errors?.['confirm']) { Two passwords that you enter is
              inconsistent! }
            </ng-template>
          </nz-form-control>
        </div>
      } @else {
        <div>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password"
            >New Password (Optional)</nz-form-label
          >
          <nz-form-control
            [nzSm]="14"
            [nzXs]="24"
            class="!min-w-full"
            nzErrorTip="Please input your password!"
          >
            <nz-input-group [nzSuffix]="passwordToggleTpl">
              <input
                nz-input
                [type]="showPassword ? 'text' : 'password'"
                id="password"
                placeholder="Leave blank to keep current password"
                formControlName="password"
                autocomplete="new-password"
              />
            </nz-input-group>
            <ng-template #passwordToggleTpl>
              <button type="button" nz-button nzSize="small" nzType="link" (click)="showPassword = !showPassword">
                <span nz-icon [nzType]="showPassword ? 'eye-invisible' : 'eye'"></span>
              </button>
            </ng-template>
            <div class="mt-2 flex items-center gap-2 text-xs">
              <div class="h-1 w-16 rounded-full" [ngClass]="{
                'bg-red-500': passwordStrength==='weak',
                'bg-yellow-500': passwordStrength==='medium',
                'bg-green-600': passwordStrength==='strong',
                'bg-gray-300': passwordStrength==='empty'
              }"></div>
              <span class="text-gray-500">Password strength: {{ passwordStrength }}</span>
            </div>
          </nz-form-control>
        </div>
        <div>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword"
            >Confirm New Password</nz-form-label
          >
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl"
              class="!min-w-full"
          >
            <nz-input-group [nzSuffix]="confirmToggleTpl">
              <input
                nz-input
                [type]="showConfirmPassword ? 'text' : 'password'"
                formControlName="checkPassword"
                placeholder="Confirm new password"
                id="checkPassword"
                autocomplete="new-password"
              />
            </nz-input-group>
            <ng-template #confirmToggleTpl>
              <button type="button" nz-button nzSize="small" nzType="link" (click)="showConfirmPassword = !showConfirmPassword">
                <span nz-icon [nzType]="showConfirmPassword ? 'eye-invisible' : 'eye'"></span>
              </button>
            </ng-template>
            <ng-template #errorTpl let-control>
              @if (control.errors?.['required']) { Please confirm your password! }
              @if (control.errors?.['confirm']) { Two passwords that you enter is
              inconsistent! }
            </ng-template>
          </nz-form-control>
        </div>
      }
      <div>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="role">
          <span>Assign Role</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          class="!min-w-full !md:min-w-3/6 "
          nzErrorTip="Please select a nation!"
        >
          <nz-select
            id="role"
            formControlName="role"
            nzAllowClear
            nzPlaceHolder="Select role"
          >
            @for (role of roles; track role.value) {
              <nz-option [nzValue]="role.value" nzLabel="{{ role.label }}"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </div>
    </div>

    <div class="flex items-center justify-end gap-6 my-12">
      <button nz-button nzType="primary" nzSize="large"
        type="submit"
        class="place-self-end !text-white font-medium"
        [nzLoading]="isLoading"
        [disabled]="form.invalid || isLoading">
        {{ isEditMode ? 'Update Admin' : 'Save & Create Admin' }}
      </button>
    </div>
  </form>
</main>
