<main class="flex flex-col w-full">
  <div class="flex flex-col mb-10">
    <app-breadcrumb
      [items]="[
        { label: 'Admin Management', url: '/main/admin-management' },
        { label: 'Add New Admin' }
      ]"
    ></app-breadcrumb>
    <p class="!text-medium font-medium !text-[#7A7A7A]">
      Fill details below to create a new admin profile
    </p>
  </div>
  <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="firstName">
          <span>First Name</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input your first name!"
          class="!min-w-full"
        >
          <input
            nz-input
            id="firstName"
            placeholder="Enter first name"
            formControlName="firstName"
          />
        </nz-form-control>
      </div>
      <div>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lastName">
          <span>Last Name</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          class="!min-w-full"
          [nzXs]="24"
          nzErrorTip="Please input your last name!"
        >
          <input
            nz-input
            id="lastName"
            placeholder="Enter last name"
            formControlName="lastName"
          />
        </nz-form-control>
      </div>
      <div>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email"
          >Email Address</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          class="!min-w-full"
          nzErrorTip="The input is not valid E-mail!"
        >
          <input
            nz-input
            formControlName="email"
            placeholder="Enter email"
            id="email"
          />
        </nz-form-control>
      </div>
      <div>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone">
          <span>Phone Number</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          class="!min-w-full"
          nzErrorTip="Please Enter a Phone Number"
        >
          <input
            nz-input
            id="phone"
            placeholder="Enter Phone Number"
            formControlName="phone"
            maxlength="11"
            pattern="[0-9]*"
            type="tel"
            inputmode="numeric"
            oninput="this.value = this.value.replace(/[^0-9]/g, '')"
            minlength="11"
          />
        </nz-form-control>
      </div>
      <div>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password"
          >Create Password</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          class="!min-w-full"
          nzErrorTip="Please input your password!"
        >
          <input
            nz-input
            type="password"
            id="password"
            placeholder="Create Admin Password"
            formControlName="password"
          />
        </nz-form-control>
      </div>
      <div>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword"
          >Confirm Password</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl"
            class="!min-w-full"
        >
          <input
            nz-input
            type="password"
            formControlName="checkPassword"
            placeholder="Confirm Admin Password"
            id="checkPassword"
          />
          <ng-template #errorTpl let-control>
            @if (control.errors?.['required']) { Please confirm your password! }
            @if (control.errors?.['confirm']) { Two passwords that you enter is
            inconsistent! }
          </ng-template>
        </nz-form-control>
      </div>
      <div>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="role">
          <span>Assign Role</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          class="!min-w-full !md:min-w-3/6 "
          nzErrorTip="Please select a nation!"
        >
          <nz-select
            id="role"
            formControlName="role"
            nzAllowClear
            nzPlaceHolder="Select role"
          >
            @for (role of roles; track role.value) {
              <nz-option [nzValue]="role.value" nzLabel="{{ role.label }}"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </div>
    </div>

    <div class="flex items-center justify-end gap-6 my-12">
      <button
        type="submit"
        class="place-self-end rounded-lg bg-primary py-3 px-10 text-[20px] !text-white font-medium cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed"
        [disabled]="form.invalid"
      >
        Save & Create Admin
      </button>
    </div>
  </form>
</main>
