<main class="flex flex-col w-full">
  <div class="flex flex-col mb-10">
    <div class="mb-16">
      <app-breadcrumb
        [items]="[
          { label: 'Property Management', url: '/property-management' },
          { label: 'View Property' }
        ]"
      ></app-breadcrumb>
    </div>
    <div
      class="flex flex-col gap-6 py-5 px-7 border border-[#EBEBEB] rounded-lg w-full bg-background mb-8"
      *ngIf="property"
    >
        <h2 class="!text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0 !pb-0">
                {{ property?.name }}
        </h2>
        <div class="flex !text-[#7A7A7A] !text-medium !mb-2 !mt-0 !pt-0">
            <app-icon name="pin"></app-icon>
            {{ property?.location }}
        </div>

        <div class="flex items-center justify-end mb-10 gap-6">
            <button
                class="flex items-center gap-3 rounded-lg bg-outline py-4 px-10 text-[20px] font-medium cursor-pointer !text-primary border-1"
                (click)="gotoEdit()"
                [disabled]="isLoading"
            >
                Edit Property
            </button>
            <button
                class="flex items-center gap-3 rounded-lg bg-primary py-4 px-10 text-[20px] font-medium cursor-pointer disabled:!bg-gray-100 disabled:cursor-not-allowed"
                [ngStyle]="{ color: '#FFF' }"
                (click)="toggleAvailability()"
                [disabled]="isLoading"
            >
                @if(isAvailable) {
                  <app-icon name="eye-off"></app-icon>
                } @else {
                  <app-icon name="eye"></app-icon>
                }
                {{isAvailable ? 'Unlist Property' : 'List Property'}}
            </button>
        </div>

      <div class="grid grid-cols-3  justify-center items-center gap-6">
        @for(img of property.property_images; track img.image_url) {
          <img
              src="{{img.image_url}}"
              alt="property image"
              class="w-full h-full rounded-lg object-cover"
          />
        }
      </div>
      <div class="flex flex-col gap-5 w-full">
        <div class="flex flex-col gap-1">
          <p class="!text-[#7A7A7A] !text-medium !mb-2">Property Category</p>
          <h2 class="!text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0">
            {{ property.property_type?.name }} Property
          </h2>
        </div>
        <div class="flex flex-col gap-1">
          <p class="!text-[#7A7A7A] !text-medium !mb-2">Property Location</p>
          <h2 class="!text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0">
            {{ property.location }}
          </h2>
        </div>
        <div class="flex flex-col gap-1">
          <p class="!text-[#7A7A7A] !text-medium !mb-2">Property Address</p>
          <h2 class="!text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0">
            {{ property.address }}
          </h2>
        </div>
        <div class="flex flex-col gap-1">
          <p class="!text-[#7A7A7A] !text-medium !mb-2">Property Description</p>
          <h2 class="!text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0">
            {{ property.description }}
          </h2>
        </div>

        <div class="flex flex-col gap-1">
          <p class="!text-[#7A7A7A] !text-medium !mb-2">Amenities</p>
          
          <div class="flex gap-4 flex-wrap">
                @for(am of property?.property_features; track am) {
                  <div class="flex bg-tertiary items-center gap-2 bg-gray-100 p-2 rounded">
                    <app-icon class="!text-primary text-[10px]" name="power"></app-icon>
                    <h2 class="!text-[#4F4F4F] text-normal font-medium text-[16px] !mb-0">
                      {{ am?.feature?.name }}
                    </h2>
                  </div>
                }
              </div>
        </div>

        <div class="flex">
          <nz-collapse class="w-full flex flex-col gap-4" [nzExpandIconPosition]="'end'">
            @for (unit of property?.property_units; track unit?.id; let i = $index) {
              <nz-collapse-panel [nzHeader]="unit?.unit_type?.name" [nzActive]="i === 0" [nzShowArrow]="true">
                <div class="flex flex-col gap-0">
                  <p class="!text-[#7A7A7A] !text-medium !mb-2">Unit Type</p>
                  <h2 class="!text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0">
                    {{ unit?.unit_type?.name }}
                  </h2>
                </div>
                <div class="flex flex-col gap-0 pt-2">
                  <p class="!text-[#7A7A7A] !text-medium !mb-2">Amount</p>
                  <h2 class="!text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0">
                    {{ unit?.price | currency: 'NGN' }}
                  </h2>
                </div>
                @if (unit.property_installment_plans && unit.property_installment_plans.length > 0) {
                  @for (plan of unit.property_installment_plans; track plan?.id) {
                    <div class="flex flex-col gap-0 pt-2">
                      <p class="!text-[#7A7A7A] !text-medium !mb-2">Installment Type</p>
                      <h2 class="!text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0">
                        {{ plan?.property_plan?.title }} Installment
                      </h2>
                    </div>
                  }
                }
              </nz-collapse-panel>
            }
          </nz-collapse>
        </div>
        
      </div>
    </div>

  </div>
 
</main>
