<main class="flex flex-col w-full">
  <div class="flex flex-col mb-10">
    <div class="mb-16">
      <app-breadcrumb
        [items]="[
          { label: 'Property Management', url: '/property-management' },
          { label: 'View Property' }
        ]"
      ></app-breadcrumb>
    </div>
    <div
      class="flex flex-col gap-6 py-5 px-7 border border-[#EBEBEB] rounded-lg w-full bg-background mb-8"
    >
        <h2 class="!text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0 !pb-0">
                {{ property?.name }}
        </h2>
        <div class="flex !text-[#7A7A7A] !text-medium !mb-2 !mt-0 !pt-0">
            <app-icon name="pin"></app-icon>
            {{ property?.location }}
        </div>

        <div class="flex items-center justify-end mb-10 gap-6">
            <button
                class="flex items-center gap-3 rounded-lg bg-outline py-4 px-10 text-[20px] font-medium cursor-pointer !text-primary border-1"
            >
                Edit Property
            </button>
            <button
                class="flex items-center gap-3 rounded-lg bg-primary py-4 px-10 text-[20px] font-medium cursor-pointer"
                [ngStyle]="{ color: '#FFF' }"
            >
                <app-icon name="eye-off"></app-icon>
                Unlist Property
            </button>
        </div>

      <div class="flex justify-center items-center gap-6">
        <img
            src="{{property?.image}}"
            alt="user"
            class="w-full h-full rounded-lg object-cover"
        />
      </div>
      <div class="flex flex-col gap-5 w-full">
        <div class="flex flex-col gap-1">
          <p class="!text-[#7A7A7A] !text-medium !mb-2">Property Category</p>
          <h2 class="!text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0">
            Developed Property
          </h2>
        </div>
        <div class="flex flex-col gap-1">
          <p class="!text-[#7A7A7A] !text-medium !mb-2">Property Location</p>
          <h2 class="!text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0">
            Lekki, Lagos, Nigeria
          </h2>
        </div>
        <div class="flex flex-col gap-1">
          <p class="!text-[#7A7A7A] !text-medium !mb-2">Property Description</p>
          <h2 class="!text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0">
            Lorem Ipsum...
          </h2>
        </div>

        <div class="flex flex-col gap-1">
          <p class="!text-[#7A7A7A] !text-medium !mb-2">Amenities</p>
          
          <div class="flex gap-4">
            @for(am of ['Tarred Road','24/7 Electricity','Fenced Perimeter']; track am) {
                <div class="flex bg-tertiary items-center gap-2 bg-gray-100 p-2 rounded">
                    <app-icon class="!text-primary text-[10px]" name="power"></app-icon>
                    <h2 class="!text-[#4F4F4F] text-normal font-medium text-[16px] !mb-0">
                        {{am}}
                    </h2>
                </div>
            }
          </div>
        </div>

        <div class="flex">
            <nz-collapse class="w-full" [nzExpandIconPosition]="'end'">
                @for (panel of panels; track panel) {
                    <nz-collapse-panel [nzHeader]="panel.name" [nzActive]="panel.active" [nzShowArrow]="panel.arrow">
                        <div class="flex flex-col gap-0">
                        <p class="!text-[#7A7A7A] !text-medium !mb-2">Unit Type</p>
                        <h2 class="!text-[#4F4F4F] text-normal font-medium text-[20px] !mb-0">
                            {{ panel.name }}
                        </h2>
                        </div>
                    </nz-collapse-panel>
                }
            </nz-collapse>
        </div>
        
      </div>
    </div>

  </div>
 
</main>
