<main class="flex flex-col w-full">
  <div class="flex flex-col mb-10">
    <app-breadcrumb
      [items]="[
        { label: 'Property Management', url: '/property-management' },
        { label: 'Add New Property' }
      ]"
    ></app-breadcrumb>
    <!-- <p class="!text-medium font-medium !text-[#7A7A7A]">
      Fill details below to create a new admin profile
    </p> -->
  </div>
 <div class="flex gap-6">
    <div class="flex bg-background p-5 h-fit border border-[#EBEBEB] rounded-lg max-w-2/5">
        <nz-steps class="!text-primary" [nzCurrent]="currentStep" nzDirection="vertical" nzSize="small">
            <nz-step nzTitle="Details" nzDescription="Enter basic details such as name, category"></nz-step>
            <nz-step nzTitle="Features/Amenities" nzDescription="Enter available amenities and facilities of the properties"></nz-step>
            <nz-step nzTitle="Property Images" nzDescription="Add property images"></nz-step>
            <nz-step nzTitle="Payment Plan" nzDescription="Set payment plan"></nz-step>
        </nz-steps>
    </div>
  @if (currentStep == 0) {
    <div
      class="flex flex-col gap-6 py-5 px-8 border border-[#EBEBEB] rounded-lg w-full bg-background mb-8"
    >
    <h1 class="!text-primary">Basic Details</h1>
    <form nz-form [formGroup]="formBasic" (ngSubmit)="submitFormBasic()">
    <div class="flex flex-col justify-center gap-y-8 w-full">
      <div class="w-full">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="category" [nzNoColon]="true">
          <span>Property Category</span>
        </nz-form-label>
        <nz-form-control
            nzErrorTip="Please select property category">
            <nz-select
                id="type_id"
                formControlName="type_id"
                nzAllowClear
                nzPlaceHolder="Select a category for this property"
                class="basis-2/3">
                @for(category of propertyTypeOptions; track category.value) {
                <nz-option [nzValue]="category.value" [nzLabel]="category.name"></nz-option>
                }
            </nz-select>
        </nz-form-control>
      </div>
      <div>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" [nzNoColon]="true">
          <span>Property Name</span>
        </nz-form-label>
        <nz-form-control
          nzErrorTip="Please enter property name!"
        >
          <input
            nz-input
            id="name"
            placeholder="Enter property name"
            formControlName="name"
          />
        </nz-form-control>
      </div>
      <div>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="location" [nzNoColon]="true">
            Property Location
        </nz-form-label
        >
        <nz-form-control
          nzErrorTip="Please enter property location"
        >
          <input
            nz-input
            formControlName="location"
            placeholder="Enter Property location"
            id="location"
          />
        </nz-form-control>
      </div>

      <div>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="address" [nzNoColon]="true">
          <span>Property Address</span>
        </nz-form-label>
        <nz-form-control
          nzErrorTip="Please enter property address!"
        >
          <input
            nz-input
            id="address"
            placeholder="Enter property address"
            formControlName="address"
          />
        </nz-form-control>
      </div>

      <div>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description" [nzNoColon]="true">
            Property Description
        </nz-form-label
        >
        <nz-form-control
          nzErrorTip="Please enter property description"
        >
          <textarea
            nz-input
            formControlName="description"
            placeholder="Enter Property description"
            id="description"
            rows="4"
          ></textarea>
        </nz-form-control>
      </div>
            
    </div>

    <div class="flex items-center justify-end gap-6 my-12">
      <button
        type="submit"
        class="rounded-lg bg-primary py-3 px-10 text-[20px] !text-white font-medium cursor-pointer disabled:!bg-gray-100 disabled:cursor-not-allowed"
        [disabled]="isLoading"
      >
        Save & Continue
      </button>
    </div>
  </form>
  </div>
  }

  @if (currentStep == 1) {
    <div
      class="flex flex-col gap-6 py-5 px-8 border border-[#EBEBEB] rounded-lg w-full bg-background mb-8"
    >
    <h1 class="!text-primary">Features/Amenities</h1>
    <form nz-form [formGroup]="formAmenities" (ngSubmit)="submitFormAmenities()">
    <div class="flex flex-col justify-center gap-y-8 w-full">
      <div class="w-full">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="category" [nzNoColon]="true">
          <span>Select Amenities</span>
        </nz-form-label>
        <nz-form-control
          nzErrorTip="Please select property amenities"
        >
          <nz-select
            id="features"
            nzShowSearch 
            nzAllowClear 
            nzPlaceHolder="Select property amenities" 
            formControlName="features"
            nzMode="multiple"
            nzPlacement="bottomRight"
            nzSuffixIcon="dashboard"
            >
            @for(feature of adminFeatures; track feature.id) {
            <nz-option [nzValue]="feature.id" [nzLabel]="feature.name">
              <ng-template #nzOptionCustomContent>
                <div class="flex items-center gap-2">
                  <nz-icon [nzType]="feature.icon" />
                  {{ feature.name }}
                </div>
              </ng-template>
            </nz-option>
            }
        </nz-select>
        </nz-form-control>
      </div>
            
    </div>

    <div class="flex items-center justify-end gap-6 my-12">
      <button
        type="submit"
        class="rounded-lg bg-primary py-3 px-10 text-[20px] !text-white font-medium cursor-pointer disabled:!bg-gray-100 disabled:cursor-not-allowed"
        [disabled]="isLoading">Save & Continue</button>
    </div>
  </form>
  </div>
  }

  @if (currentStep == 2) {
    <div
      class="flex flex-col gap-2 py-5 px-8 border border-[#EBEBEB] rounded-lg w-full bg-background mb-8"
    >
    <h1 class="!text-primary">Property Images</h1>
    <p class="!text-medium !text-[#7A7A7A]">
      Upload images of the property here, upload at least 4 images, Make sure the images are of good quality
    </p>

    <div class="flex flex-col mt-8">
        <!-- <div class="flex gap-4">
            <nz-upload
            nzType="drag"
            [nzMultiple]="false"
            (nzChange)="handleChange($event)"
            nzAccept="image/*"
            >
            <div class="p-6">
                <p class="ant-upload-drag-icon">
                <nz-icon nzType="inbox" />
                </p>
                <p class="ant-upload-text">Drop images here or click to browse</p>
                <p class="ant-upload-hint">
                    Support for a single or bulk upload.
                </p>
            </div>
            </nz-upload>
        </div> -->
        <div class="flex items-center gap-6 py-5">
        <div class="grid grid-cols-3 items-center gap-6">
        @for(img of uploadedImages; track img) {
          <div class="relative">
            <img
              src="{{img}}"
              alt="property image"
              class="w-full h-full rounded-lg object-cover hover:scale-105 transition-transform duration-200 hover:brightness-50"
          />
            <app-icon class="!text-white !text-sm absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 cursor-pointer hover:scale-150 hover:!text-red-500" name="trash" (click)="removeImage(img)"></app-icon>
          </div>
        }
        <div class="relative flex items-center justify-center cursor-pointer border-2 border-dashed border-gray-300 w-full aspect-square rounded-lg hover:bg-gray-100 !p-12">
            <input
                type="file"
                id="fileInput"
                (change)="onImageSelected($event)"
                class="absolute inset-0 w-full h-full opacity-0 cursor-pointer disabled:cursor-not-allowed"
                [disabled]="isLoading"
                accept="image/*"
            />
            <label for="fileInput" class="flex justify-center w-fit px-4 py-2 bg-primary text-white rounded cursor-pointer">
                Upload
            </label>
            <!-- <span *ngIf="selectedFileName" class="ml-2 text-gray-600">{{ selectedFileName }}</span> -->
        </div>
      </div>
      </div>
        <div class="flex items-center justify-end gap-6 my-12">
             <button
                type="submit"
                class="rounded-lg bg-primary py-3 px-10 text-[20px] !text-white font-medium cursor-pointer disabled:!bg-gray-100 disabled:cursor-not-allowed"
                [disabled]="isLoading || uploadedImages.length < 4"
                (click)="submitImage()">Save & Continue
              </button>
        </div>
    </div>
    
  </div>
  }

  @if (currentStep == 3) {
    <form nz-form [formGroup]="unitTypeForm" (ngSubmit)="submitUnit()" class="w-full">
      <div
          class="flex flex-col gap-2 py-5 px-24 border border-[#EBEBEB] rounded-lg w-full bg-background mb-8"
        >
        <h1 class="!text-primary">Payment Plan</h1>
        <p class="!text-medium !text-[#7A7A7A]">
          Set payment plan for this property
        </p>

        <div class="flex flex-col mt-8">
            <button 
              class="flex justify-end !text-primary"
              (click)="addUnitType()"
              >+  Add Unit</button>
            <div class="flex flex-col gap-4 bg-gray-50 p-8 w-full rounded border border-gray-200">

                <div *ngFor="let unitType of unitTypes.controls; let i = index" [formGroupName]="i">
                  <div class="my-2">
                    <label for="unit_type_id" class="text-gray-500 text-xs font-medium">
                    Unit Type
                  </label>
                  <nz-form-control
                    nzErrorTip="Please enter a unit type"
                    >
                    <nz-select
                      id="unit_type_id"
                      formControlName="unit_type_id"
                      nzPlaceHolder="Select a unit type for this property"
                      class="!bg-gray-50"
                      [nzSize]="'large'"
                    >
                      @for (type of unitTypesOptions; track type.id) {
                        <nz-option [nzValue]="type.id" [nzLabel]="type.name"></nz-option>
                      }
                    </nz-select>
                    </nz-form-control>
                  </div>
                    <div class="my-2">
                      <label for="price" class="text-gray-500 text-xs font-medium">
                      Amount
                    </label>
                    <nz-form-control
                      nzErrorTip="Please enter a price"
                      >
                      <input
                        nz-input
                        formControlName="price"
                        id="price"
                        class="!bg-gray-50"
                        placeholder="Enter amount"
                      />
                    </nz-form-control>
                    </div>
                    <div class="mt-2">
                      <label for="total_units" class="text-gray-500 text-xs font-medium">
                      Total Units
                    </label>
                  <nz-form-control
                    nzErrorTip="Please enter a total units"
                    >
                    <input
                      nz-input
                      formControlName="total_units"
                      id="total_units"
                      class="!bg-gray-50"
                      placeholder="Enter total units"
                    />
                  </nz-form-control>
                    </div>
                </div>
                <nz-divider></nz-divider>
                <div class="flex justify-end !text-primary text-medium">+  Add Installment</div>
                <div class="flex justify-between items-center border-b border-gray-200 pb-2 !text-[#7A7A7A]">
                    <h2 class="!text-medium">Installment Details</h2>
                    <app-icon name="trash"></app-icon>
                    <!-- <nz-icon type="bin"></nz-icon> -->
                </div>
                @for(in of ['Installment Type', 'Initial Deposite', 'Total Amount']; track in) {
                    <div class="flex flex-col gap-2">
                    <span class="text-medium text-gray-600">{{ in }}</span>
                    <nz-form-control
                    nzErrorTip="Please {{in}}"
                    >
                    <input
                        nz-input
                        class="!bg-gray-50"
                        placeholder="Enter {{in}}"
                    />
                    </nz-form-control>
                </div>
                }

                <nz-divider></nz-divider>

                <div class="flex justify-between items-center border-b border-gray-200 pb-2 !text-[#7A7A7A]">
                    <h2 class="!text-medium">Installment Details</h2>
                    <app-icon name="trash"></app-icon>
                    <!-- <nz-icon type="bin"></nz-icon> -->
                </div>
                @for(in of ['Installment Type', 'Initial Deposite', 'Total Amount']; track in) {
                    <div class="flex flex-col gap-2">
                    <span class="text-medium text-gray-600">{{ in }}</span>
                    <nz-form-control
                    nzErrorTip="Please {{in}}"
                    >
                    <input
                        nz-input
                        class="!bg-gray-50"
                        placeholder="Enter {{in}}"
                    />
                    </nz-form-control>
                </div>
                }
                <div class="flex justify-end gap-2 !text-[#7A7A7A]">
                    <app-icon name="trash"></app-icon>
                    Delete Unit
                </div>
            </div>
            <div class="flex items-center justify-end gap-6 my-12">
                <button
                    (click)="submit()"
                    class="rounded-lg bg-primary py-3 px-10 text-[20px] !text-white font-medium cursor-pointer"
                >
                    Create Property
                </button>
            </div>
        </div>
        
      </div>
    </form>
    
  }
 </div>
  
</main>
